.header {
  background-color: black;
}

.header h1 {
  margin: 0;
  padding: 1rem 0;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 2rem;
}

.footer {
  align-items: center;
  background-color: black;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
